name: docker ci

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v3

      - name: login docker
        uses: docker/login-action@v2
        with:
          username: ravitejja
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: setup docker buildx
        uses: docker/setup-buildx-action@v3

      - name: build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ravitejja/gha-k8s-demo:latest
